<div *ngIf="authStatus['status']; else loggedOutBlock" class="jumbotron">
  <div class="container">
    <p class="h2 mb-3">My Profile</p>
  </div>
  <div class="card flex-row flex-wrap w-100">
    <div class="card-header">
      <img src="https://via.placeholder.com/150" alt="" />
    </div>
    <div class="card-body" style="width: 18rem">
      <h4 class="card-title">{{ user.name }}</h4>
      <p class="card-text">{{ user.id }}</p>
      <p class="card-text">{{ user.email }}</p>
      <p class="card-text">{{ user.created_at | date }}</p>
    </div>
  </div>
</div>

<ng-template #loggedOutBlock>
  <div class="jumbotron">
    <h5>Please login or register to access the app.</h5>
  </div>
</ng-template>
