<div *ngIf="authStatus['status']; else loggedOutBlock" class="jumbotron">
  <div class="container">
    <p class="h2 mb-3">My Orders</p>
  </div>
  <br />
  <div class="container">
    <div class="row mb-4" *ngFor="let order of orders">
      <div class="card flex-row flex-wrap w-100">
        <div class="card-header">
          <img src="https://via.placeholder.com/150" alt="" />
        </div>
        <div class="card-body" style="width: 18rem">
          <h4 class="card-title">{{ order.id }}</h4>
          <p class="card-text">{{ order.amount }}</p>
          <a
            class="btn btn-primary"
            routerLink="/order/{{ order.id }}"
            role="button"
            >View</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOutBlock>
  <div class="jumbotron">
    <h5>Please login or register to access the app.</h5>
  </div>
</ng-template>
