<div *ngIf="authStatus['status']; else loggedOutBlock" class="jumbotron">
  <div class="container">
    <h1 class="display-4">Hello {{ authStatus["name"] }}!</h1>
    <p class="h2 mb-3">Order food from your favourite restaurants near you.</p>
    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        name="query"
        placeholder="Subway"
        [(ngModel)]="query"
      />
    </form>
  </div>

  <hr class="my-4" />
  <br />

  <div class="container">
    <div class="row mb-4" *ngFor="let row of items">
      <div class="col" *ngFor="let col of row | search: query">
        <div class="card" style="width: 18rem">
          <img class="card-img-top" src="{{ col.image_url }}" />
          <div class="card-body">
            <div class="row">
              <div class="col">{{ col.restaurent_name }}</div>
              <div class="col-3">{{ col.rating }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOutBlock>
  <div class="jumbotron">
    <h5>Please login or register to access the app.</h5>
  </div>
</ng-template>
